/* .isCollapsed {
    height: 100px !important;
    overflow: hidden !important;
    transition: height 3s ease !important;
  }
  
  .collapse.show {
    height: auto !important;
  }
   */
.sub-category{
  overflow: hidden !important;
}
   .sidebar-divider{
    color: white;
    background-color: white;
    width: 200px;
    height: auto;
   }
  .iii{
    padding-left: 8px;
  }
   .sidenav-menu{
    padding-bottom:20px ;
    padding-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   }
   /* .menus{
    margin-top: -30px;
   } */
   /* .list-menu{
    margin-top: -150px;
   } */


.get-in-touch {
  /* max-height: 00px; */
  margin: 50px auto;
  /* position: relative; */

}
/* .get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
     color: rgb(128, 0, 0);
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#87ca43 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
} */

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: gray;
  opacity: 0.5;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding-top: 14px;
  /* margin-bottom: 10px; */
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-64px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  /* background-color: #000; */
   /* background-image: linear-gradient(125deg,#a72879,#064497); */
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}

option{
  border:none ;
}
option:hover{
  background-color: none;
}
.food-type{
  font-size: 10px;
}